#form {
  padding: 2rem 1rem;
}

input {
  border: none;
  border-bottom: 1px solid #999999;
  margin-left: 1rem;
  height: 2rem;
}

.error {
  margin: 1rem;
  color: red;
}

form button {
  padding: 0.25rem 1rem;
  background: #f5f5f5;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}
