#form {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.error {
  margin: 1rem;
  color: red;
}

#submitbutton {
  margin: auto;
  margin-top: 1rem;
  margin-right: 0.5rem;
}
